<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>


<ion-content padding (click)="closeReplacementList()">
  <br><br><br><br><br>
  <ion-list *ngIf="!isUserLoggedIn">
    <ion-item *ngIf="error.show" >
      {{error.message}}
    </ion-item>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"  (ionBlur)="isEmailValid()" ></ion-input>
    </ion-item>
    <ion-item *ngIf="showEmailError">
      <div class="error">
        Email not valid.
      </div>
    </ion-item>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" (ionBlur)="isPasswordValid()" ></ion-input>
    </ion-item>
    <ion-item *ngIf="showPasswordError">
      <div class="error">
        Password is not valid.
      </div>
    </ion-item>
    <ion-item>
      <button ion-button (click)="signIn()">Sign in</button>
      <button ion-button (click)="goToRegistrationPage()">Register</button>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="isUserLoggedIn" >
    <ion-item>
      <button ion-button (click)="signOut()" >Sign Out</button>
    </ion-item>
  </ion-list>

</ion-content>
