<ion-menu [content]="content" side="right" [swipeEnabled]="false" 
  persistent="true" (click)="closeReplacementList()" >
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu2</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <span *ngFor="let p of menuPages">
          <button menuClose="right" *ngIf="hideRegistrationAndLogin(p)" ion-item (click)="openPage(p)" >
            {{p.title}}
          </button>
        </span>
      </ion-list>
    </ion-content>
  </ion-menu>
