<header></header>

<ion-content padding>
  <br><br><br>
  <ion-row>
    <button ion-button small *ngFor="let numOfPage of pages" (click)="showPage(numOfPage)">
      {{numOfPage}}
    </button>
  </ion-row>
  <news-component *ngFor="let n of newsForDisplay" [news]="n"></news-component>
  <br><br>
  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let category of categories">
          <button ion-button (click)="openPage(category.name)" >
            <ion-icon name="{{category.iconName}}"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>
