<header></header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refreshApp($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <br><br><br>
  <news-component *ngFor="let n of newsForDisplay" [news]="n"></news-component>
  <ion-infinite-scroll (ionInfinite)="loadMoreNews($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <br><br>
  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let category of categories">
          <button ion-button (click)="openPage(category.name)" >
            <ion-icon name="{{category.iconName}}"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>
