<!--
  Generated template for the ConfigurationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>


<ion-content padding (click)="closeReplacementList()">
  <br><br><br>
  <ion-list>
    <ion-item>
      <ion-label>Choose theme of aplication</ion-label>
      <ion-select [(ngModel)]="userConfiguration.colorTheme" >
        <ion-option *ngFor="let theme of themes" value="{{theme}}" >{{theme}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Choose news categories</ion-label>
      <ion-select [(ngModel)]="userConfiguration.mainMenuOptions" multiple="true" 
        okText="OK" cancelText="Cancel" (ionCancel)="cancel()" >
        <ion-option disabled>You have to have 5 choosen options</ion-option>
        <ion-option *ngFor="let category of allNewsCategories" value="{{category}}">
          {{category}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Enable notifications</ion-label>
      <ion-select [(ngModel)]="userConfiguration.notificationsEnabled">
        <ion-option  value="true" >Yes</ion-option>
        <ion-option  value="false" >No</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Enable weather</ion-label>
      <ion-select [(ngModel)]="userConfiguration.weatherEnabled">
        <ion-option  value="true" >Yes</ion-option>
        <ion-option  value="false" >No</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Enable Cryptocurrency Checker</ion-label>
      <ion-select [(ngModel)]="userConfiguration.cryptocurrencyCheckerEnabled">
        <ion-option  value="true" >Yes</ion-option>
        <ion-option  value="false" >No</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Enable Transportation Checker</ion-label>
      <ion-select [(ngModel)]="userConfiguration.transportationCheckerEnabled">
        <ion-option  value="true" >Yes</ion-option>
        <ion-option  value="false" >No</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <button ion-button (click)="clearCache()">Clear Cache</button>
    </ion-item>
  </ion-list>

  <button ion-button (click)="sendUserConfiguration()">Ok</button>
  <button ion-button (click)=cancel() >Cancel</button>

</ion-content>
