ion-card-content > ion-item {
   height: 15px;
}

.item-block {
   min-height: 25px;
}

ion-avatar > span {
   z-index: 99;
   background-color: transparent !important;
   height: 40px !important;
   width: 35px !important;
   background-image: url('../../assets/icons/mreza_cl_skraceno.svg');
   position: absolute;
   text-align: center;
   background-size: 1200%;
}

span.google-news {
   background-position: 2% 2%;
}

span.bbc-news {
   background-position: 50% 0%;
}

span.cnn {
   background-size: 1200%;
   background-position: 17% 28%;
}

span.cbs-news {
   background-position: 75% 0%;
   background-size: 1300%;
}

span.fox-news {
   background-position: 85% 0%;
   background-size: 1200%;
}

span.cbc-news {
   background-size: 1200%;
   background-position: 68% 0%;
}

span.msnbc {
   background-position: 17% 16%;
   background-size: 1400%;
}

span.the-new-york-times {
   background-position: 0% 30%;
   background-size: 1090%;
}

span.nbc-news {
   background-position: 9% 16%;
   background-size: 1600%;
}

span.buzzfeed {
   background-position: 0% 60%;
   background-size: 1300%
}

span.mtv-news-uk {
   background-position: 50% 60%;
}

span.mtv-news {
   background-position: 42% 60%;
}

span.daily-mail {
   background-position: 59% 60%;
}

span.mirror {
   background-position: 25% 0%;
   background-size: 1200%;
}

span.metro {
   background-position: 0% 15%;
   background-size: 1300%;
}

span.al-jazeera-english {
   background-position: 42% 30%;
   background-size: 1200%;
}

span.news24 {
   background-position: 16% 0%;
   background-size: 1400%;
}

span.the-guardian-au, span.the-guardian {
   background-position: 24% 16%;
   background-size: 1400%;
}

span.the-telegraph {
   background-position: 50% 16%;
}

span.usa-today {
   background-position: 34% 16%;
}

span.associated-press {
   background-position: 67% 30%; 
}

span.the-washington-post {
   background-position: 93% 13%;
}

span.rte {
   background-position: 8% 27%;
   background-size: 1200%;
}

span.breitbart-news {
   background-position: 60% 0%;
   background-size: 1400%;
}

span.time {
   background-position: 50% 16%;
}

span.news-com-au {
   background-position: 7% 0%;
   background-size: 1400%;
}

span.politico {
   background-position: 85% 16%;
}

span.the-huffington-post {
   background-position: 68% 15%;
}

span.the-hill {
   background-position: 75% 16%;
}

span.abc-news-au, span.abc-news {
   background-position: 33% 0%;
   background-size: 1400%;
}

span.business-insider {
   background-position: 8% 90%;
}

span.financial-times {
   background-position: 50% 90%;
   background-size: 1200%;
}

span.bloomberg {
   background-position: 75% 90%;
}

span.the-wall-street-journal {
   background-position: 65% 90%;
}

span.cnbc {
   background-position: 25% 90%;
}

span.fortune {
   background-position: 42% 90%;
}

span.the-economist {
   background-position: 33% 90%;
}

span.business-insider-uk {
   background-position: 17% 90%;
}

span.fox-sports {
   background-position: 33% 77%;
}

span.football-italia{
   background-position: 50% 77%;
} 

span.espn-cric-info {
   background-position: 17% 77%;
}

span.nhl-news {
   background-position: 83% 77%;
}

span.mashable {
   background-position: 17% 60%;
}

span.entertainment-weekly {
   background-position: 8% 60%;
}

span.hacker-news {
   background-position: 8% 42%;
}

span.techradar {
   background-position: 58% 44%;
}

span.ars-technica {
   background-position: 0% 44%;
   background-size: 1500%;
}

span.crypto-coins-news {
   background-size: 1400%;
   background-position: 67% 44%;
}

span.google-news {
   background-position: 25% 27%;
   background-size: 1300%;
}

span.the-irish-times {
   background-position: 58% 15%;
}

span.independent {
   background-position: 59% 29.5%;
}

span.sport-bible {
   background-position: 33% 60%;
}