 open-category-component > button {
	background-color: transparent !important;
	border: 0.3px solid darkgray;
	box-shadow: 1px 0.5px 1px gray;
}

 open-category-component > button > span {
  background-image: url('../../assets/icons/icons.svg');
  height: 35px !important;
  width: 30px !important;
  background-size: 700%;
}

button.general-news > span {
  background-position: 5% 98%
}

button.bussines-news > span {
  background-position: 24% 49%
}

button.sport-news > span {
  background-position: 5% 50%
}

button.entertainment-news > span {
  background-position: 44% 96%
}

button.programming-news > span {
  background-position: 2% 2%
}

button.life-health-fitnes-news > span {
  background-position: 23% 5%;
}

button.technology-news > span {
  background-position: 42% 50%;
}

button.cryptocurrency-news > span {
  background-position: 42.5% 2%;
}
